# systemd unit file for the I2C Rollo Controller service

[Unit]

# Human readable name of the unit
Description=I2C Rollo Controller Service


[Service]

# Command to execute when the service is started
ExecStart=/usr/bin/python3 /home/pi/workspace/home-automation/i2cRolloCtrl/start_rolloctl.py

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure


[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target

