- id: '1632475417308'
  alias: TestRelaisAn
  description: ''
  trigger:
  - platform: device
    type: turned_on
    device_id: 310980297ff73a0359adba5871a17ba2
    entity_id: switch.29_980837000000_latch_0
    domain: switch
  condition: []
  action:
  - type: toggle
    device_id: 3e40fed9d72f753a451991d678741724
    entity_id: switch.29_a00837000000_pio_0
    domain: switch
  - type: turn_off
    device_id: 310980297ff73a0359adba5871a17ba2
    entity_id: switch.29_980837000000_latch_0
    domain: switch
  mode: single
- id: 8e4cb118af1e4c88888214b942448e72
  alias: NachtlichterEIN
  description: ''
  trigger:
  - platform: sun
    event: sunset
  action:
  - service: homeassistant.turn_on
    data: {}
    target:
      entity_id:
      - group.nachtlichter
  mode: single
- id: f8ad11e14c304d71add86c68d1baaf07
  alias: NachtlichterAUS (zeitig)
  description: ''
  trigger:
  - platform: time
    at: input_datetime.schlafenszeit_zeitig
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag_morgen
    state: 'on'
  action:
  - service: homeassistant.turn_off
    data: {}
    target:
      entity_id:
      - group.nachtlichter
  mode: single
- id: '1634413193653'
  alias: ZirkulationspumpeEIN
  description: ''
  trigger:
  - platform: time
    at: 06:10
  condition: []
  action:
  - type: turn_on
    device_id: f43b952c08eae60c2e989b9d36793b17
    entity_id: switch.29_b20837000000_pio_7
    domain: switch
  mode: single
- id: '1634413864163'
  alias: ZirkulationspumpeAUS
  description: ''
  trigger:
  - platform: time
    at: '21:50'
  condition: []
  action:
  - type: turn_off
    device_id: f43b952c08eae60c2e989b9d36793b17
    entity_id: switch.29_b20837000000_pio_7
    domain: switch
  mode: single
- id: '1637702834285'
  alias: Weihnachtsbeleuchtung EG und OG EIN (Arbeitstage)
  description: ''
  triggers:
  - at: 06:30:00
    trigger: time
  - event: sunset
    offset: -00:45:00
    trigger: sun
  conditions:
  - condition: state
    entity_id: binary_sensor.arbeitstag
    state: 'on'
  actions:
  - target:
      entity_id:
      - group.weihnachteg
      - group.weihnachtenog
      - switch.29_ad0837000000_pio_4
      - switch.29_ad0837000000_pio_5
    data: {}
    action: homeassistant.turn_on
  mode: single
- id: '1637703042825'
  alias: Weihnachtsbeleuchtung EG AUS
  description: ''
  trigger:
  - platform: time
    at: '9:00'
  - platform: time
    at: '20:30'
  - platform: time
    at: '22:00:00'
  condition: []
  action:
  - service: homeassistant.turn_off
    target:
      entity_id: group.weihnachteg
    data: {}
  mode: single
- id: '1637703122100'
  alias: Weihnachtsbeleuchtung OG AUS (spät)
  description: ''
  trigger:
  - platform: time
    at: '9:00'
  - platform: time
    at: input_datetime.schlafenszeit_spat
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag_morgen
    state: 'off'
  action:
  - service: homeassistant.turn_off
    target:
      entity_id:
      - group.weihnachtenog
      - switch.29_ad0837000000_pio_4
    data: {}
  mode: single
- id: '1637785069143'
  alias: Weihnachtsbeleuchtung EG und OG EIN (Wochenende)
  description: ''
  trigger:
  - platform: time
    at: 08:30
  - platform: sun
    event: sunset
    offset: -00:45:00
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag
    state: 'off'
  action:
  - service: homeassistant.turn_on
    target:
      entity_id:
      - group.weihnachteg
      - group.weihnachtenog
      - switch.29_ad0837000000_pio_4
    data: {}
  mode: single
- id: '1638738277247'
  alias: Heizung Schlafzimmer AUS
  description: ''
  trigger:
  - platform: time
    at: '20:30'
  condition: []
  action:
  - service: climate.turn_off
    target:
      entity_id:
      - climate.sina
      - climate.malte
      - climate.schlafzimmer
  mode: single
- id: '1638738533068'
  alias: Heizung Schlafzimmer EIN
  description: ''
  trigger:
  - platform: time
    at: 05:00
  - platform: time
    at: 06:00
  condition:
  - condition: or
    conditions:
    - condition: time
      after: 03:00
      before: 05:30
      weekday:
      - mon
      - tue
      - wed
      - thu
      - fri
    - condition: time
      after: 05:30
      before: 09:00
      weekday:
      - sat
      - sun
  action:
  - service: climate.turn_on
    target:
      entity_id:
      - climate.malte
      - climate.sina
      - climate.schlafzimmer
  mode: single
- id: '1642627506827'
  alias: NachtlichterAUS (spät)
  description: ''
  trigger:
  - platform: time
    at: input_datetime.schlafenszeit_spat
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag_morgen
    state: 'off'
  action:
  - service: homeassistant.turn_off
    data: {}
    target:
      entity_id:
      - group.nachtlichter
  mode: single
- id: '1669840980505'
  alias: Weihnachtsbeleuchtung OG AUS (zeitig)
  description: ''
  trigger:
  - platform: time
    at: 09:00
  - platform: time
    at: input_datetime.schlafenszeit_zeitig
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag_morgen
    state: 'on'
  action:
  - service: homeassistant.turn_off
    target:
      entity_id:
      - group.weihnachtenog
      - switch.29_ad0837000000_pio_4
      - switch.29_ad0837000000_pio_5
    data: {}
  mode: single
- id: '1671373670162'
  alias: Lüftungseinstellung (Leistung)
  description: Einstellen der Lüfterleistung
  trigger:
  - platform: state
    entity_id:
    - input_number.nilan_sollleistung_einstellen
  - platform: state
    entity_id:
    - switch.nilan_pause
    from: 'on'
    to: 'off'
  - platform: state
    entity_id:
    - switch.nilan_system_off
    from: 'on'
    to: 'off'
  condition:
  - condition: and
    conditions:
    - condition: state
      entity_id: switch.nilan_system_off
      state: 'off'
    - condition: state
      entity_id: switch.nilan_pause
      state: 'off'
  action:
  - service: modbus.write_register
    data:
      address: 4747
      slave: 1
      hub: nilan
      value: '{{ states(''input_number.nilan_sollleistung_einstellen'') }}'
  mode: single
- id: '1672735811546'
  alias: HASS Backup
  description: Tägliches Backup ausführen
  trigger:
  - platform: time
    at: 01:00:00
  condition: []
  action:
  - service: backup.create
    data: {}
  mode: single
- id: '1681031981995'
  alias: Abwesenheit Rollos Down
  description: ''
  trigger:
  - platform: time
    at: '19:45:00'
  condition: []
  action:
  - service: script.rollos_eg_down
    data: {}
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - service: script.rollos_og_down
    data: {}
  mode: single
- id: '1681032086984'
  alias: Abwesenheit Rollos UP
  description: ''
  trigger:
  - platform: time
    at: 08:00:00
  condition: []
  action:
  - service: script.rollos_eg_up
    data: {}
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - service: script.rollos_og_up
    data: {}
  mode: single
- id: '1701879294351'
  alias: Außenlichterbogen (EIN)
  description: ''
  trigger:
  - platform: time
    at: 06:00:00
  - platform: time
    at: '17:30:00'
  condition: []
  action:
  - type: turn_on
    device_id: ed04aadb13be7447f67fcd0498b5839e
    entity_id: switch.tasmota_3
    domain: switch
  mode: single
- id: '1701879362373'
  alias: Außenlichterbogen (AUS)
  description: ''
  trigger:
  - platform: time
    at: 08:00:00
  - platform: time
    at: '23:00:00'
  condition: []
  action:
  - type: turn_off
    device_id: ed04aadb13be7447f67fcd0498b5839e
    entity_id: switch.tasmota_3
    domain: switch
  mode: single
- id: '1707065038425'
  alias: MalteAufwachen
  description: ''
  trigger:
  - platform: time
    at: 06:30:00
  condition:
  - condition: state
    entity_id: binary_sensor.arbeitstag
    state: 'on'
  action:
  - service: homeassistant.turn_on
    data: {}
    target:
      entity_id: switch.29_ad0837000000_pio_5
  mode: single
- id: '1707065385526'
  alias: MalteAufwachenAUS
  description: ''
  trigger:
  - platform: time
    at: 07:00:00
  - platform: time
    at: 07:15:00
  condition: []
  action:
  - service: homeassistant.turn_off
    data: {}
    target:
      entity_id: switch.29_ad0837000000_pio_5
  mode: single
